version: '3.8'

services:
  vsserver:
    image: howwof/vintagestory:latest
    container_name: vsserver
    stdin_open: true
    tty: true
    restart: unless-stopped
    volumes:
    # • your world will be in /appdata/vintagestory/vs by default (/gamedata/vs on the container)
    # • if you run multiple servers just change the left part
    # • you could also use docker volumes instead of host path
      - ./appdata/vintagestory:/gamedata
    ports:
      - 42420:42420
